.searchPage {

    position: relative;
    display: grid;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1440px;

    &__header {
        position: fixed;
        background: #F8F8F8;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
    }

    &__searchWidget {
        // margin: auto 0;
        // background: red;
        // padding: 32px;
        animation: showSearch 1s ease;
        height: 100vh;
        &_active {
            animation: hideSearch 1s ease;
            height: 20rem;
            margin-top: 9rem;
        }
    }

    &__errorAlert {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        top: 4rem;
    }

    &__searchResultsWidget {
        display: none;
        animation: 1s hideResults;

        &_active {
            display: grid;
            animation: 1s showResults;
        }
    }

    &__loadingProgress {
        position: fixed;
        color: #21AE84;
        left: 50%;
        transform: translate(-50%, 0);
        top: 4rem;
    }
}

@keyframes showResults {
    0% {
        display: none;
        transform: translateY(200vh);
    }
    
    100% {
        transform: translateY(0px);
        display: inline-block;
    }
}

@keyframes hideResults {
    0% {
        transform: translateY(0px);
        display: inline-block;
    }
    
    100% {
        display: none;
        transform: translateY(200vh);
    }
}


@keyframes showSearch {
    0% {
        height: 20rem;
    }
    
    100% {
        height: 100vh;
    }
}

@keyframes hideSearch {
    0% {
        height: 100vh;
        margin-top: 0;
    }
    
    100% {
        height: 20rem;
        margin-top: 9rem;
    }
}